<li id="article-<%= article.id %>">
  <span class="title"><%= link_to article.title, article%></span>
  <p><span class="user">
    Article written by: <b><%= link_to article.user.name, article.user %></b>.
  </span>
  <span class="timestamp">
   Posted on <i> <%= article.created_at.strftime("%d/%m/%Y at %I:%M%p")%> </i>.
  </span></p>
  <span class="content">
    <p><%= truncate(strip_tags(strip_links(article.content)), :length => 230, :omission => "" , :escape => true) %><br></p>
  </span>
</li>
