<% provide(:title, 'Write Article') %>
<h1>Create your article</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for @article, validate: true do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>

        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>

        <%= f.submit "Create Article", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
