<% provide(:title, @article.title) %>
<div class="row">
  <div class="col-md-9">
    <h1 style="color:#B00100; float:left"><%= @article.title%></h1>
  </div>
  <div class="col-md-9">
    <p><span class="user">Article written by: <%= link_to @article.user.name, @article.user %>.</span>
    <span class="timestamp">
    <%= @article.created_at.strftime("Posted on %d/%m/%Y at %I:%M%p.")%>
    </span>
      <% if current_user?(@article.user) %>
          <span class="Edit-Link">
          < <%= link_to "Edit", edit_article_path(@article) %> </span>/
          <span class="Delete-Link">
          <%= link_to "Delete", @article, method: :delete,
                      data: { confirm: "You sure you want to delete the article?" } %> ></span>
      <% end %>
    </p>
  </div>
  <div class="col-md-9">
    <%=raw @article.content %>
  </div>
</div>